.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}
.filters {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filters .filters__item {
  margin-right: 8px;
}
